<div class="container">
  <app-pokemon-header [mensagem]="valorHeader"></app-pokemon-header>

  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="nome" class="form-label">Pokemón*</label>
      <input type="email" class="input-form form-control" id="nome" formControlName="nome" [ngClass]="('nome')">
      <div *ngIf="verificarValidTouched('nome')">
        <div *ngFor="let erro of getErrors('nome')" class="alert alert-danger" role="alert">
          <span>{{ erro }}</span>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="pokemon-tipo" class="form-label">Tipo*</label>
      <select class="input-form form-select" id="pokemon-tipo" formControlName="pokemontipo" aria-label="Selecione um tipo">
        <option value="" disabled selected>Selecione um tipo</option>
        <option *ngFor="let tipo of tipos" [ngValue]="tipo.id">
          {{ tipo.nome }}
        </option>
      </select>
      <div *ngIf="verificarValidTouched('pokemontipo')">
        <div *ngFor="let erro of getErrors('pokemontipo')" class="alert alert-danger" role="alert">
          <span>{{ erro }}</span>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição*</label>
      <textarea class="input-form form-control fixed-textarea" id="descricao" formControlName="descricao"></textarea>
      <div *ngIf="verificarValidTouched('descricao')">
        <div *ngFor="let erro of getErrors('descricao')" class="alert alert-danger" role="alert">
          <span>{{ erro }}</span>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="imagem" class="form-label">Imagem url</label>
      <input type="url" class="input-form form-control" id="imagem" formControlName="imagem">
      <div *ngIf="verificarValidTouched('imagem')">
        <div *ngFor="let erro of getErrors('imagem')" class="alert alert-danger" role="alert">
          <span>{{ erro }}</span>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>
