.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .content {
    display: flex;

    .content-text {
      h1 {
        font-size: 1.75rem;
        margin-bottom: 0;
      }

      p {
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
  }
}

form {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  .form-group {
    width: 300px !important;
  }

  button {
    align-self: end;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;

  .card-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
  }
}

button {
  margin-bottom: 0;
}
