<div class="container">
  <!--Header-->
  <div class="header">
    <div class="content">
      <img src="" />
      <div class="content-text">
        <h1>Pokedéx</h1>
        <p>pokedex</p>
      </div>
    </div>

    <a class="btn btn-primary" href="/cadastrar">Cadastrar</a>
  </div>

  <!--body-->
  <!--  filter-->
  <form>
    <div class="form-group">
      <label for="name">Nome:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        aria-describedby="name"
        placeholder="Digite o nome do pokemon"
      />
    </div>
    <div class="form-group">
      <label for="tipo">Tipo:</label>
      <select class="form-select" aria-label="Default select example" id="tipo">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
  <!--  cards-->
  <div class="card-items">
    <div class="col-full">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk
            of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--footer-->

</div>
