<!--todo: Componentizar a nav-->
<nav class="navbar navbar-expand navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Pokedéx</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active">Meus
            pokemóns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="cadastrar" routerLinkActive="active">Cadastrar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <!--todo: Componentizar o container header-->
  <div class="header">
    <div class="content">
      <img src=""/>
      <div class="content-text">
        <h1>Bem vindo treinador!</h1>
      </div>
    </div>
  </div>

  <!--todo: Componentizar o formulario-->
  <form [formGroup]="formulario" (ngSubmit)="onBuscar()">
    <div class="form-group">
      <label for="name">Nome:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        aria-describedby="name"
        placeholder="Digite o nome do pokemon"
        formControlName="nome"
      />
    </div>
    <div class="form-group">
      <label for="pokemon-tipo">Tipo:</label>
      <select class="form-select" id="pokemon-tipo" formControlName="pokemontipo">
        <option value="" disabled selected>Selecione um tipo</option>
        <option value="">Todos</option>
        <option *ngFor="let tipo of tipos" [ngValue]="tipo.id">
          {{ tipo.nome }}
        </option>
      </select>
    </div>
    <button class="btn btn-primary">Buscar</button>
  </form>

  <!--todo: Componentizar os cards-->
  <div class="card-items">
    <div class="col-full" *ngFor="let pokemon of pokemons">
      <a [routerLink]="['/pokemon', pokemon.id]">
        <div class="card">
          <div class="card-header">
            <h5>{{pokemon.nome}}</h5>
          </div>
          <div class="card-body">
            <div class="card-img">
              <span>Imagem</span>
            </div>
          </div>
          <div class="card-footer">
            <span class="btn btn-primary">{{pokemon.pokemonTipo.nome}}</span>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!--todo: MOstrar os erros -->
  <div *ngIf="pokemons == undefined">
    <!--    mostra algo para fizer q algo deu errazo-->
    ZAPZAP
  </div>

  <!--todo: MOstrar os erros-->
  <div *ngIf="pokemons != undefined && pokemons.length <= 0">
    <!--    mostra algo para fizerr q nao tem pokemin-->
    Nao foi encontrado nenhum pokemon com as informacaoes passadas
  </div>
</div>
